@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

/* to-do:
1. have all photos hover = show a title and year with animation
4. have animations on nav
5. fix contact page
*/

h1 {
    font-family: helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 50px;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 30px;
    max-width: 80%;
}

img {
    min-width: 75%;
    max-width: 76%;
    padding: 10px;
    display: block;
}

#headshot {
    justify-self: center;
    margin:0 auto;
    min-width: 75%;
    animation: slidein 3s;
}

@keyframes slidein {
    from {opacity: 0; border-radius: 15%;}
    to {opacity: 1; border-radius: 0%;}
}

#space {
    background-image: url(../images/groovy.jpg);
    background-color: azure;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (prefers-reduced-motion: reduce) {
    #headshot {
        animation: none;
    }

    #space {
        background-attachment: initial;
    }

    html{
        scroll-behavior: auto;
    }
    
    a.skip {
        -webkit-transition: initial;
        transition: initial;
    }
}

a {
    color: rgb(68, 68, 68);
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: darkgray;
}

.skip {
    font-family: 'Nunito Sans', helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 13px;
    padding-left: 80px;
    position:relative;  
    right: 500px;
}

.skip:focus {
    position: static;
}

nav {
    margin-top: 30px;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li{
    display: inline;
    font-family: 'Nunito Sans', helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 10px 35px;
    padding: 10px 0px;
    font-size: 15px;
}

.chosen {
    color: darkblue;
    border: 1px darkblue solid;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    width: 75%;
    margin: 0 auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

h2 {
    font-family: 'Work Sans', helvetica, sans-serif;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}

hr {
    width: 75%; 
    margin: auto;
    margin-bottom: 3%;
 }

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: auto 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-front {
    background-color: #bbb;
    color: black;
}

.flip-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}

footer {
    font-family: 'Raleway', helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.oil .imgpair {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.oil .imgpair p {
    max-width: 76%;
}

.other {
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
}

.other img {
    grid-column: 2 / span 1;
    justify-self: center;
}

.other p {
    text-align: center;
    grid-column: 2 / span 1;
}

.digital {
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
}

.digital img {
    grid-column: 2 / span 1;
    justify-self: center;
}

.digital p {
    text-align: center;
    grid-column: 2 / span 1;
}

.fa {
    margin: 5px;
}

form {
    border: 3px solid #f1f1f1;
    width: 75%;
    margin: 0 auto;
}
  
legend{ 
    font-size: 125%;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
  
label{
    display: block;
    padding: 15px;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;
    justify-self: center;
}

input, textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: sans-serif;
}
  
input[type=checkbox]{
    display: inline;
    width: inherit;
}
  
input[type=submit] {
    color: black;
    border: none;
    font-family: 'Raleway', Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size:large;
    width: 70%;
    display: block;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}

@media screen and (min-width: 950px){
    ul {
        flex-direction: row;
        justify-content: center;
    }

    ul li {
        margin: 5px;
    }

    .other {
        grid-template-columns: 3fr 2fr;
        gap: 2%;
    }
    
    .other img {
        grid-column: 1 / span 1;
        justify-self: right;
    }
    .other p {
        grid-column: 2 / span 1;
        text-align: left;
        align-self: center;
    }

    .oil {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .oil .imgpair {
        flex-direction: row;
    }

    .oil .imgpair img {
        min-width: 20%;
        max-width: 40%;
        padding: 5%;
        padding-left: 10%;
    }

    .oil .imgpair p {
        text-align: left;
        margin-right: 12%;
    }
}

@media screen and (min-width: 1500px){
    h1 {
        color:aqua;
    }

    
}